*{
    --background-off-white: #FAF9F6
}

html body{
    font-family: "Jura", sans-serif;
    letter-spacing: 0.75em;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-off-white);
}

body img{
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}


.navbar__components{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.navbar__images{
    height: 80%;
    width: 85%;
    border: 1px solid red;
}

.navbar__images img{
    height: 100%;
}

.navbar__menu{
    height: 20%;
    width: 100%;
}

.navbar__menu nav{
    height: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.123);
}

.menu__list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    width: 85%;
}

.menu__list li{
    display: flex;
    width: 25%;
}


.menu__list button {
    letter-spacing: 0.75em;
    cursor: pointer;
    font-family: "Jura", sans-serif;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    color: inherit;
    overflow: hidden;
}

.menu__list button:before,
.menu__list button:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: width 0.7s ease;
}

.menu__list button:before {
    left: 0;
}

.menu__list button:after {
    right: 0;
}

.menu__list button:hover:before,
.menu__list button:hover:after,
.menu__list button.active:before,
.menu__list button.active:after {
    width: 50%;
}


.info__table{
    text-align: center;
    width: 50%;
}

.info__components{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.info {
    opacity: 0;
    transition: opacity 0.7s ease;
}
  
.active {
    opacity: 1;
}

.footer__content{
    letter-spacing: 0.25em;
    text-transform: lowercase;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.footer__socials {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75em;
}

.footer__content img{
    width: 32px; 
    height: auto; 
    transition: 0.2s ease-in-out;
}

.footer__content img:hover{
    animation: rotateAndScale 0.6s ease-in-out;
}

@keyframes rotateAndScale{
    70%{
        transform: scale(1) rotate(-5deg);
    }
    30%{
        transform: scale(1.1) rotate(5deg);

    }
}

.slide-item{
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-content {
    position: relative;
    max-width: 85%;
    max-height: 85%;
}

.modal-content img {
    max-width: 100%;
    max-height: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    z-index: 101;
  }


.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  transition: color 0.3s ease, transform 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #327ee2;
  transform: scale(1.1);
}